/* f-seo-outer */
.input_title h3 {
    color: #464646;
    cursor: pointer;
    float: left;
    font-size: 14px;
    margin: 0;
    padding: 5px 0 0;
    text-shadow: 0 1px 0 #FFFFFF;
}
.input_title{
    border-bottom:1px solid #ddd;
    margin: 0;
    padding: 7px 10px;
    background-color: #F1F1F1;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    border-bottom-color: #DFDFDF;
    box-shadow: 0 1px 0 #FFFFFF;
    overflow: hidden;
}
.input_title .submit{
    display: block;
    float: right;
    margin: 0 20px;
    padding: 0;
}
.wp-upload-csv .wp-upload-form{
    margin: 0 0 20px;
}
.form-table small{
    display: block;
}
.reports_select select{
    width:100%;
}
.ui-widget-overlay {
    background: #aaaaaa;
    opacity: .3;
}
.ui-widget-shadow {
    margin: -8px 0 0 -8px;
    padding: 8px;
    background: #aaaaaa;
    opacity: .3;
    border-radius: 8px;
}
.st_wrap{
    padding: 10px;
}
.st_wrap div{
    box-sizing: border-box;
    overflow: hidden;
}
.rb_one{
    clear: both;
    overflow: hidden;
    box-sizing: border-box;
}
.rb_count{
    border-bottom: 1px solid #eee;
}
.rb_one .rb_left{
    float: left;
    display: inline-block;
    width: 40%;
    margin-right: 10px;
    height: 100%;
    overflow: hidden;
}
.rb_one .rb_left div{
    padding: 5px;
}
.rb_one .rb_right{
    float: right;
    width: 40%;
    display: inline-block;
    border-left: 1px solid #eee;
    padding-left: 20px;
    min-height: 50px;
    padding-top: 20px;
    font-weight: bold;
}
.rb_one_counter{
    overflow: hidden;
    margin: 20px 0;
}
.rb_all_price strong{
    display: block;
    border-top:1px solid #eee;
    padding-top:10px;
    padding-left: 10px;
    font-weight: bolder;
    font-size: 20px;
}
.rb_all_price span{
    display: block;
    color:#ccc;
    font-style: italic;
    margin-top: 10px;
}
#rb_refresh{
    float: right;
    border: none;
    color: #fff;
    background: #0085ba;
    margin-top: 10px;
    padding: 4px;
    cursor: pointer;
}
.rb_price{
    font-style: italic;
    color: #929292;
}
#edittag {
    max-width: 100%;
}
